* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


body { font-family: 'Roboto', sans-serif; }

a {
  display: inline-block;
  text-decoration: none;

  &:hover { text-decoration: none; }

  &.button {
    background: linear-gradient(105deg, $yellow-orange 0%, $red-orange 100%);
    border-radius: 3px;
    color: $white;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 13px;
  }
}
