* {
  box-sizing: border-box;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


body { font-family: 'Roboto', sans-serif; }

a {
  display: inline-block;
  text-decoration: none;
}

.arrow-right {
  height: 11px;
  opacity: .6;
  stroke: $orange;
  transition: stroke .3s, opacity .3s, transform .3s;
  width: 11px;
}
