* {
  box-sizing: border-box;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


body { font-family: 'Roboto', sans-serif; }

a {
  display: inline-block;
  text-decoration: none;
}
