$black:             #000;
$white:             #fff;

$yellow:            #ffbf3f;
$yellow-orange:     #faa634;
$orange:            #fe8f3f;
$red-orange:        #ff5f2f;
$red:               #ef1f3f;
$yellow-green:      #a6ce3f;
$green:             #6fcf6f;
$blue-green:        #00ae8f;
$blue:              #00bfff;
$dark-blue:         #008fcf;

$text-dark:         #2f2222;
$text-medium:       #6d6e71;
$text-light:        #939598;
